#!/bin/bash
docker run -d --name kong \
    -e "KONG_LOG_LEVEL=info" \
    -e "KONG_PG_HOST=YOUR_POSTGRES_DB_SERVER" \
    -e "KONG_PG_DATABASE=kong" \
    -e "KONG_PG_USER=kong" \
    -e "KONG_PG_PASSWORD=YOUR_PASSWORD" \
    -e "KONG_CLUSTER_ADVERTISE=YOUR_HOST_IP_ADDR:7946" \
    -e "KONG_CLUSTER_LISTEN=YOUR_DOCKER_CONTAINER_INTERNAL_IP_ADDR:7946" \
    -p 8000:8000 \
    -p 8443:8443 \
    -p 8001:8001 \
    -p 7946:7946 \
    -p 7946:7946/udp \
    kong
